@charset "utf-8";
/* noto-sans-kr-regular - korean */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-kr-v12-korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('../fonts/noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v12-korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v12-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
	   unicode-range:U+AC00-U+D7A3;
}
/* noto-sans-kr-500 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/noto-sans-kr-v12-korean-500.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
       url('../fonts/noto-sans-kr-v12-korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v12-korean-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v12-korean-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v12-korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
	   unicode-range:U+AC00-U+D7A3;
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-kr-v12-korean-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
       url('../fonts/noto-sans-kr-v12-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v12-korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v12-korean-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v12-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v12-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
	   unicode-range:U+AC00-U+D7A3;
}


/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	font-size:1em;
	vertical-align:baseline;
	background:transparent;
	-webkit-text-size-adjust:none;
	font-family:'Noto Sans KR','Dotum', 'Gulim', 'Arial';
	list-style:none;
	line-height:1;
	letter-spacing:-0.25px;
	word-break: keep-all;
	font-weight:300;

}

em,address{font-style:normal;}
hr{display:none}
body{word-break: break-all;}
ol, ul{list-style:none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}

ins{text-decoration:none;}
del{text-decoration:line-through;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout:auto;word-break:break-all;}
table th, table td{vertical-align:middle;}
fieldset{margin:0;padding:0;border:0 none;}
legend, caption, .skip{position:absolute; left:-9999px; width:0; height:0; font-size:0; line-height:0; overflow:hidden;}
caption{position:static;}


a {color:#000; text-decoration:none;}
a:hover {color:#000; text-decoration:none;}
img	{vertical-align:top; max-width:100%;}
input{vertical-align:top;}
label{vertical-align:middle;  cursor:pointer;}
select {-webkit-appearance: none;  -moz-appearance: none;appearance: none; background:#fff url(../images/common/select_arrow.png) no-repeat 95% 50%;border:none; height:48px; line-height:48px; padding:0 10px; width:100%;}
select::-ms-expand {display: none;}


textarea {border:1px solid #dcdcdc; color:#888;  line-height:18px; padding:5px; overflow-y:auto; resize:none;}

h1,h2,h3,h4,h5,h6,th,strong {font-weight:600;}
select {font-family:'Noto Sans KR','Dotum', 'Gulim', 'Arial';}

/* html5 reset */
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, canvas{display:block; margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}


input {
    -webkit-appearance:none; border-radius:0; padding:0; margin:0;
}


/*floatBox 해제*/
.floatBox:after	{content:"";display:block;clear:both;}
.floatBox	{*zoom:1;}
.float01	{float:left!important;}
.float02	{float:right!important;}


/*
.font_loat	{font-family:"Lato"}
*/