
table{
  text-align: center;
}
tr:hover{
  color: red;
}
header{
  text-align: center;
}
#band{
  width: auto;
  margin: 0 auto;
  text-align: center;
}
table{
  margin-left:auto;margin-right:auto;
}